## Instruções Gerais
* Identifiquem no início do arquivo os integrantes do grupo (nome e matrícula)
* Por limitações do moodle, o nome do arquivo submetido não pode ter caracteres acentuados ou com cedilha
* Apenas um dos integrantes do grupo deve fazer a submissão no moodle
* Certifiquem-se de que o arquivo pode ser executado diretamente e sem dependências externas (Kernel > Restart & Run All)

## Enunciado do Trabalho

Tomem como base os dados sobre desenvolvimento humano disponíveis em: http://hdr.undp.org/en/data. 
A partir de dados de pobreza e de educação, criem alguns modelos de regressão linear (variando as _features_) para tentar prever a população carcerária de cada país. Avaliem os modelos e indique qual foi o melhor.

In [12]:
from IPython.display import display, Markdown, Latex

# Data source:
# http://hdr.undp.org/en/composite/GII
# http://hdr.undp.org/en/composite/GDI

# Link dos dados utilizados nesse notebook. Arquivo texto, delimitado por vírgulas, sem cabeçalho
url_tab = 'https://raw.githubusercontent.com/Pedro-Magalhaes/Teste/master/T1_3/t3.csv'

In [13]:
# cria dataframe pandas com dados

import pandas as pd
df = pd.read_csv(url_tab)

# obtendo as dimensões do data set
df.shape

# Resultado esperado (200,5)

(200, 6)

In [14]:
df.head(10)

,Year,State_Name,High_School_Graduation,Income_Inequality_Gini_Index,Violent_Crime,Unnamed: 5
0,2015,Alabama,80.0,0.476,430.8,NaN
1,2015,Alaska,71.8,0.418,640.4,NaN
2,2015,Arizona,75.1,0.468,416.5,NaN
3,2015,Arkansas,84.9,0.471,460.3,NaN
4,2015,California,80.4,0.489,402.1,NaN
5,2015,Colorado,76.9,0.458,308.0,NaN
6,2015,Connecticut,85.5,0.501,262.5,NaN
7,2015,Delaware,80.4,0.449,491.4,NaN
8,2015,Florida,75.6,0.483,470.4,NaN
9,2015,Georgia,71.7,0.480,365.7,NaN

In [15]:
# ajusta os tipos das colunas numéricas

# função de conversão de strings para inteiros
def str_to_int(c):
    if isinstance(c, int):
        return c
    else:
        try:
            return int(c)
        except:
            return None
        
def str_to_float(c):
    if isinstance(c, float):
        return c
    else:
        try:
            return float(c)
        except:
            return None
        
# aplicamos a função a todas as colunas numéricas
df.Year = df.Year.apply(str_to_int)
df.High_School_Graduation = df.High_School_Graduation.apply(str_to_float)
df.Income_Inequality_Gini_Index = df.Income_Inequality_Gini_Index.apply(str_to_float)
df.Violent_Crime = df.Violent_Crime.apply(str_to_float)

In [50]:
def matrixmult (A, B):
    rows_A = len(A)
    cols_A = len(A[0])
    rows_B = len(B)
    cols_B = len(B[0])

    if cols_A != rows_B:
      print ("Cannot multiply the two matrices. Incorrect dimensions.")
      return

    # Create the result matrix
    # Dimensions would be rows_A x cols_B
    C = [[0 for row in range(cols_B)] for col in range(rows_A)]
    print (C)

    for i in range(rows_A):
        for j in range(cols_B):
            for k in range(cols_A):
                C[i][j] += A[i][k] * B[k][j]
    return C

def getDataState(id):
    A = [[2015, 0],[2016, 0],[2017, 0],[2018, 0]]
    A[0][1] = df.Violent_Crime[0 + id]
    A[1][1] = df.Violent_Crime[50 + id]
    A[2][1] = df.Violent_Crime[100 + id]
    A[3][1] = df.Violent_Crime[150 + id]
    return A

def getDataStateArray(id):
    A = [0,0,0,0]
    A[0] = df.Violent_Crime[0 + id]
    A[1] = df.Violent_Crime[50 + id]
    A[2] = df.Violent_Crime[100 + id]
    A[3] = df.Violent_Crime[150 + id]
    return A

def multArray(X,Y):
    Z = [0 for row in range(len(X))]
    for i in range(len(X)):
        Z[i] = X[i]*Y[i]
    return Z

def somaArray(A):
    soma = 0
    for i in range(len(A)):
        soma = soma + A[i]
    return soma

def calcS2Matriz(A, mA):
    S = [0 for row in range(len(A))]
    for i in range(len(A)):
        S[i] = (A[i] - mA)*(A[i] - mA)
    soma = somaArray(S)
    return soma

def calcSXYMatriz(X, mX, Y, mY):
    S = [0 for row in range(len(X))]
    for i in range(len(X)):
        S[i] = (X[i] - mX)*(Y[i] - mY)
    
    soma = somaArray(S)
    return soma

def regressaoSimples(X, Y, anoPrevisao):
    mX = somaArray(X)/len(X)
    mY = somaArray(Y)/len(Y)
    s2X = calcS2Matriz(X, mX)/len(X)
    s2Y = calcS2Matriz(Y, mY)/len(Y)
    sXY = calcSXYMatriz(X, mX,  Y, mY)
    
    b = sXY/s2X
    a = mY -b*mX
    
    print (a + b*anoPrevisao)
    return

X = [2015,2016,2017,2018]
Y = getDataStateArray(0)
regressaoSimples(X,Y,2020)




def regressaoSimples2(X, Y, n):
    XY = somaArray(matrixmult(X,Y))
    X2 = somaArray(matrixmult(X,X))
    Y2 = somaArray(matrixmult(Y,Y))
    mX = somaArray(X)/n
    mY = somaArray(Y)/n
    mXY = mX*mY
    
    b  = (XY - n*mXY)/(X2 - n*Y2)

2474.49